.selected-category {
  margin-top: 40px;
  padding: 30px;
  border-radius: 24px;
  background: #09090f;
  border: 1px solid #5b21b6;
  color: white;
}

.selected-category h2 {
  font-size: 32px;
  margin-bottom: 14px;
}

.selected-category p {
  color: #cfcfcf;
  line-height: 1.8;
  font-size: 17px;
}

.categories-header {
  text-align: center;
  margin-bottom: 40px;
}

.categories-header h2 {
  color: white;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 10px;
}

.categories-header p {
  color: #a1a1aa;
  font-size: 18px;
}

.categories-section {
  padding: 30px 60px 60px;
}

.back-home-btn {

  margin-top: 30px;

  padding: 14px 28px;

  border: none;
  border-radius: 14px;

  background: linear-gradient(
    90deg,
    #ff00aa,
    #7b2ff7
  );

  color: white;

  font-size: 16px;
  font-weight: 700;

  cursor: pointer;

  transition: 0.3s ease;
}

.back-home-btn:hover {

  transform: translateY(-3px);

  opacity: 0.9;

}